button {

    width: 200px;
    height: 200px;

}

#init, #set, #destroy, #effect {

    width: 100px;
    height: 40px;

}

.mycss {
    position: absolute;
    top: 300px;
    left: 600px;
    width: 200px;

}

table {
    margin: 15px;
    border: 1px solid;
    border-collapse: collapse;
}

td, th, tr {
    padding: 3px;
    border: 1px solid black;
}

.tab {
    float: left;
}